<li>
	<%= content_tag( 'p', "#{link_to( announcement_with_type.announcement_type.name, announcement_type_show_url( :announcement_type => announcement_with_type.announcement_type ) )} on the #{link_to( announcement_with_type.announced_on.strftime( '%-d %B %Y'), announcement_show_url( :announcement => announcement_with_type ) )}.".html_safe  ) %>
</li>