<h1>Peerages</h1>

<h2>By title: <%= @letter.letter %></h2>

<%= render :partial => 'atoz', :object => @letters %>

<table>
	<%= render :partial => 'peerage/table_header' %>
	<tbody>
		<%= render :partial => 'peerage/peerage_alpha', :collection => @letter.peerages %>
	</tbody>
</table>