<tr>

<td>
<%= link_to( person.surname.upcase, person_show_url( :person => person  ) ) %>
</td>

<td>
<%= link_to( person.forenames, person_show_url( :person => person  ) ) %>
</td>

<td>
<%= person.date_of_birth_display %>
</td>

<td>
<%= person.date_of_death_display %>
</td>
</tr>