<%= content_tag( 'h1', "Peerages of the #{@kingdom.name}" ) %>

<%= render :partial => 'atoz', :object => @letters %>

<table>
	<%= render :partial => 'peerage/table_header' %>
	<tbody>
		<%= render :partial => 'peerage/peerage_alpha', :collection => @peerages %>
	</tbody>
</table>