<li>
	<!-- appointment period -->
	<% if law_lord.retired_on -%>
		<%= content_tag( 'h3', link_to( "#{law_lord.appointed_on.strftime( '%-d %B %Y')} - #{law_lord.retired_on.strftime( '%-d %B %Y' )}", law_lord_show_url( :law_lord => law_lord ) ) ) %>
	<% else -%>
		<%= content_tag( 'h3', link_to( "#{law_lord.appointed_on.strftime( '%-d %B %Y')} -", law_lord_show_url( :law_lord => law_lord ) ) ) %>
	<% end -%>
</li>