<%= content_tag( 'h1', @peerage_type.name ) %>

<table>
	<%= render :partial => 'peerage/table_header' %>
	<tbody>
		<%= render :partial => 'peerage/peerage_alpha', :collection => @peerage_type.peerages %>
	</tbody>
</table>