<%= content_tag( 'h1', @rank.label ) %>

<table>
	<%= render :partial => 'peerage/table_header' %>
	<tbody>
		<%= render :partial => 'peerage/peerage_alpha', :collection => @rank.peerages %>
	</tbody>
</table>