<li>
	<%= content_tag( 'h2', link_to( "Letters patent issued on #{letters_patent.patent_on.strftime( '%-d %B %Y')}", letters_patent_show_url( :letters_patent => letters_patent ) ) ) %>
	<%= content_tag( 'p', "To #{link_to( letters_patent.person.display_name, person_show_url( :person => letters_patent.person ) )}:".html_safe ) %>
	<ol>
		<%= render :partial => 'peerage/gendered_peerage', :collection => letters_patent.peerages, :locals => {:gender => letters_patent.person.gender} %>
	</ol>
</li>