<p>
	<%= link_to( reign_from_kingdom.monarch_name, monarch_show_url( :monarch => reign_from_kingdom.monarch_id ) ) %> from <%= link_to( reign_from_kingdom.date_range, reign_show_url( :reign => reign_from_kingdom ) ) %>.
</p>