<p>
	Monarch of the <%= link_to( reign_from_monarch.kingdom_name, kingdom_show_url( :kingdom => reign_from_monarch.kingdom_id ) ) %> from <%= link_to( reign_from_monarch.date_range, reign_show_url( :reign => reign_from_monarch ) ) %>.
</p>